@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;500;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.cnt {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.side_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}
.side_top h1 {
  font-size: 50px;
}

.side_top .mode {
  background-color: rgba(5, 19, 37, 0.055);
  width: 70px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  font-size: 14px;
  letter-spacing: 1px;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}

.side_top .mode::after {
  background-color: rgba(86, 144, 219, 0.212);
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 40px;
  margin-bottom: 8px;
  border-radius: 40px;
  transition: 1s;
}

.side_top .mode.active {
  background-color: rgba(109, 160, 226, 0.312);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.421);
  height: 30px;
  transition: 1s;
}
.side_top .mode.active::after {
  background-color: rgba(86, 144, 219, 0.712);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.421);
  font-size: 26px;
  height: 4px;
  margin-top: -20px;
  content: "🛫";
  transition: 1s;
}

.side_bar {
  padding: 2%;
  position: relative;
  width: 30%;
  height: 100%;
}

.side_bar .country_box {
  position: relative;
}
.side_bar .country_box p {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  line-height: 40px;
  font-size: 22px;
  letter-spacing: 0.5px;
  width: 200px;
  text-indent: 10px;
  cursor: pointer;
}
.side_bar .country_box > p:first-child {
  border-top: 1px solid black;
  background-size: 20px 20px;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-image: url("https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423352_960_720.png");
}
.side_bar .country_box .opt_box {
  position: absolute;
  background-color: #fff;
  z-index: 99;
}

.side_bar .country_box .opt_box p {
  font-size: 18px;
  font-weight: 300;
}

.side_bar .country_box .opt_box p:hover {
  background-color: rgba(86, 144, 219, 0.812);
  color: #fff;
}

#map {
  width: 70%;
  height: 100%;
}

.side_bar .place_list {
  margin-top: 30px;
}

.side_bar .place_list .item {
  box-shadow: 5px 5px 10px rgb(197, 193, 193, 0.6);
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  font-size: 22px;
  align-items: center;
  justify-content: space-between;
}
.side_bar .place_list .item:hover {
  transition: 0.2s;
  background-color: rgba(109, 160, 226, 0.312);
}
.side_bar .place_list .item p {
  margin-right: 50px;
  position: relative;
  line-height: 15px;
}

.side_bar .place_list .item p::after {
  position: absolute;
  border-top: 2px solid rgba(86, 144, 219, 0.712);
  border-right: 2px solid rgba(86, 144, 219, 0.712);
  width: 10px;
  height: 10px;
  content: "";
  right: -20px;
  transform: rotate(45deg);
}

.side_bar .place_list .img_box {
  width: 200px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.side_bar .place_list .img_box img {
  width: 100%;
  /* height: 100%; */
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(116, 113, 113, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_inner {
  position: relative;
  background-color: rgba(255, 255, 255, 0.699);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.349);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  padding: 15px;
}
.info_inner h3 {
  font-size: 28px;
  letter-spacing: 0.8px;
}
.info_inner textarea {
  margin: 5px 0 10px;
  border: none;
  height: 100%;
  padding: 5px;
}

.info .btn_box button {
  border: none;
  cursor: pointer;
}
.info .btn_box .info_submit {
  padding: 5px 10px;
  float: right;
  background-color: rgba(86, 144, 219, 0.712);
  border-radius: 10px;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.273);
}

.info .btn_box .info_submit:hover {
  background-color: rgba(86, 144, 219, 0.812);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.473);

  transition: 0.2s;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.473);
}

.info .btn_box .info_cancel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  padding: 5px 10px;
  background-color: transparent;
}

.hidden {
  display: none;
}
/* .active {
  display: block;
} */

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 5px;
  font-size: 17px;
}

.leaflet-popup-tip-container {
  margin-top: -1px;
}

/* responsive */
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .side_top{
    margin-bottom: 3vw;
  }

  .side_top h1 {
    font-size: 3.4722vw;
  }

  .side_bar .place_list .img_box {
    width: 15vw;
    height: 8vw;
  }

  .side_bar .place_list .item {
    box-shadow: 0.3472vw 0.3472vw 0.6944vw rgb(197 193 193 / 60%);
    cursor: pointer;
    margin-bottom: 0.6944vw;
    font-size: 1.5278vw;
    align-items: center;
  }
  .side_bar .place_list .item p {
    margin-right: 3.4722vw;
    line-height: 1.0417vw;
  }

  .side_bar .country_box p {
    border-bottom: 0.0694vw solid black;
    border-right: 0.0694vw solid black;
    border-left: 0.0694vw solid black;
    line-height: 2.7778vw;
    font-size: 1.5278vw;
    letter-spacing: 0.0347vw;
    width: 13.8889vw;
    text-indent: 0.6944vw;
    cursor: pointer;
  }
  .side_bar .country_box > p:first-child {
    border-top: 0.0694vw solid black;
    background-size: 1.3889vw 1.3889vw;
    background-position: 90% 50%;

    background-image: url("https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423352_960_720.png");
  }

  .side_bar .country_box .opt_box p {
    font-size: 1.25vw;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  *{
    margin: 0;
    padding:0;
  box-sizing: border-box;
  }

  .cnt {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 3px solid red;
  }

  .side_bar {
    border: 2px solid blue;
    position: absolute;
    padding: 2vw;
    top:85vh;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 226, 226);
    transition: 1s;
  }

  .side_bar.mobile {
    top: 55vh;
    transition: 1s;
  }

  #map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .side_top h1 {
    font-size: 10vw;
    margin-top: 3vw;

}
  .side_top{
    align-items: center;
    margin-bottom: 3.9063vw;
  }

  .mode {
    display: none !important;
  }

  .mobile_mode.hidden {
    display: block !important;
    position: relative;
    width: 6vw;
    height: 1vw;
    background-color: rgb(119, 190, 236);
    margin-right: 5vw;
    /* border-radius: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://cdn.pixabay.com/photo/2021/10/09/12/45/hamburger-icon-6694072_960_720.png); */ */
  }

  .mobile_mode.hidden::before,
  .mobile_mode.hidden::after{
    position: absolute;
    width: 6vw;
    height: 1vw;
    top: 2vw;
    background-color: rgb(119, 190, 236);
    content: '';
  }

  .mobile_mode.hidden::after{
    top: -2vw;
  }

  .mobile_mode.hidden.mobile::after{
    top:0;
    transform: rotate(45deg);
  }
  .mobile_mode.hidden.mobile::before{
    top:0;
    transform: rotate(135deg);
  }
.mobile_mode.hidden.mobile{
  background-color: transparent;
}
  



.side_bar .country_box p {
  border-bottom: 0.1302vw solid black;
  border-right: 0.1302vw solid black;
  border-left: 0.1302vw solid black;
  line-height: 8vw;
  font-size: 4vw;
  letter-spacing: 0.1vw;
  width: 30vw;
  text-indent: 1.3021vw;
  cursor: pointer;
}
.side_bar .country_box > p:first-child {
  border-top: 0.1302vw solid black;
  background-size: 2.6042vw 2.6042vw;
  background-position: 90% 50%;
  
  background-image: url("https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423352_960_720.png");
}

.side_bar .country_box .opt_box p {
  font-size: 2.3438vw;
  
}

.side_bar .country_box .opt_box p:hover {
  background-color: rgba(86, 144, 219, 0.812);
}

/* place to go */

.side_bar .place_list {
  display: flex;
  flex-wrap: wrap;
  margin: 4vw auto;
}

.side_bar .place_list .item {
  box-shadow: 0.6510vw 0.6510vw 1.3021vw rgb(197, 193, 193, 0.6);
  cursor: pointer;
  width: 46%;
  margin-bottom: 1.3021vw;
  font-size: 2.8646vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}
.side_bar .place_list .item p {
  margin-right: 4vw;
  line-height: 5vw;
}

.side_bar .place_list .item p::after {
  border-top: 0.4vw solid rgba(86, 144, 219, 0.712);
  border-right: 0.4vw solid rgba(86, 144, 219, 0.712);
  width: 1vw;
  height: 1vw;
  top:1.5vw;
  right: -2.6042vw;
  transform: rotate(45deg);
}

.side_bar .place_list .img_box {
  width: 100%;
  height: 17vw;
}
  
}
