* {
  margin: 0;
}
.cnt {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.side_bar {
  padding: 2%;
  position: relative;
  width: 30%;
  height: 100%;
}

.side_bar #country_input {
  padding: 3%;
  font-size: 18px;
}

.side_bar #country_input option {
  background-color: rgba(86, 144, 219, 0.112);
  margin-top: 5px;
}

.side_top {
  display: flex;
  justify-content: space-between;
}

#map {
  width: 70%;
  height: 100%;
}

.side_top .mode {
  background-color: rgba(5, 19, 37, 0.055);
  width: 70px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  font-size: 12px;
  letter-spacing: 1px;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}

.side_top .mode::after {
  background-color: rgba(86, 144, 219, 0.212);
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 40px;
  line-height: 40px;
  border-radius: 40px;
  content: "💤";
  transition: 1s;
}

.side_top .mode.active {
  background-color: rgba(109, 160, 226, 0.312);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.421);

  transition: 2s;
}
.side_top .mode.active::after {
  background-color: rgba(86, 144, 219, 0.712);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.421);
  content: "🛫";
}

.side_bar .place_list {
  margin-top: 30px;
}

.side_bar .place_list .item {
  box-shadow: 5px 5px 10px rgb(197, 193, 193, 0.6);
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
}
.side_bar .place_list .item:hover {
  transition: 0.2s;
  background-color: rgba(109, 160, 226, 0.312);
}
.side_bar .place_list .item p {
  margin-right: 50px;
  position: relative;
  line-height: 10px;
}

.side_bar .place_list .item p::after {
  position: absolute;
  border-top: 2px solid rgba(86, 144, 219, 0.712);
  border-right: 2px solid rgba(86, 144, 219, 0.712);
  width: 10px;
  height: 10px;
  content: "";
  right: -20px;
  transform: rotate(45deg);
}

.side_bar .place_list .img_box {
  width: 200px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.side_bar .place_list .img_box img {
  width: 100%;
  /* height: 100%; */
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(116, 113, 113, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_inner {
  background-color: rgba(255, 255, 255, 0.699);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.349);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 15px;
  /* height: 10%; */
}
.info_inner h3 {
  letter-spacing: 1px;
}
.info_inner textarea {
  margin: 15px 0;
}

.hidden {
  display: none;
}
/* .active {
  display: block;
} */
